version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
     - video_uploads:/app/uploads
     - video_data:/app/data
    environment:
      - PYTHONPATH=/app
      - RTSP_SERVER_HOST=rtsp-server
      - DATABASE_PATH=sqlite:///./data/videos.db
    depends_on:
      - rtsp-server
    networks:
      - app-network
    restart: unless-stopped
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped
  rtsp-server:
    image: bluenviron/mediamtx
    ports:
      - "8554:8554"
      - "1935:1935"
      - "8888:8888"
      - "8889:8889"
      - "8890:8890/udp"
      - "8189:8189/udp"
    environment:
      - MTX_RTSPTRANSPORTS=tcp
      - MTX_WEBRTCADDITIONALHOSTS=192.168.1.10
    networks:
      - app-network
    restart: unless-stopped
    volumes:
      - rtsp_config:/config
      - rtsp_data:/data

volumes:
  video_uploads:
    driver: local
  video_data:
    driver: local
  rtsp_config:
    driver: local
  rtsp_data:
    driver: local

networks:
  app-network:
    driver: bridge